
            h1 {
                color: brown;
            }

            * {
                border: solid;
            }
            .header{
                background-color: rgb(132, 206, 184);
                display:flex;
                justify-content: space-between;
            }
            .grid{
                background-color: rgb(115, 221, 101);
                display:flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
            .footer{
                background-color: rgb(25, 102, 79);
                display:flex;
                justify-content: flex-end;
            }